target/classes/noviolations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <http:listener-config name="HTTP_Listener_Configuration1" host="${http.host}" port="${http.port}" doc:name="HTTP Listener Configuration" doc:description="Description" >
    </http:listener-config>
    <context:property-placeholder location="http.properties"   />
    <vm:connector name="VM" validateConnections="true" doc:name="VM" doc:description="description">
        <vm:queue-profile maxOutstandingMessages="5"/>
    </vm:connector>
    <vm:connector name="VM1" validateConnections="true" doc:name="VM" doc:description="description">
        <vm:queue-profile maxOutstandingMessages="5"/>
    </vm:connector>
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" password="root" doc:name="MySQL Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="${http.RHost}" port="${http.RPort}" doc:name="HTTP Request Configuration"/>
    <flow name="CapgeminiCloud-main" doc:description="Description">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/main" allowedMethods="GET" doc:name="HTTP" doc:description="description"/>
        <set-session-variable variableName="parameter" value="#[message.inboundProperties.'http.query.params'.parameter]" doc:name="parameter" doc:description="asdas"/>
        <set-property propertyName="testProperty123123" value="TEST1" doc:name="Property"/>
        <http:request config-ref="HTTP_Request_Configuration" path="${url.path}" method="${url.method}" doc:name="HTTP">
        </http:request>
        <vm:outbound-endpoint exchange-pattern="request-response" path=" /mypath" connector-ref="VM" doc:name="VM" doc:description="qsdasdasds"/>
        <logger message="#[flowVars.Parameter]" level="INFO" doc:name="Logger" doc:description="asdasdasdasd"/>
    </flow>
    <batch:job name="noviolationsBatch">
        <batch:process-records>
            <batch:step name="Batch_Step">
            </batch:step>
        </batch:process-records>
    </batch:job>
    <flow name="CapgeminiCloud" doc:description="description">
        <vm:inbound-endpoint exchange-pattern="request-response" path=" /mypath" connector-ref="VM" doc:name="VM" doc:description="qweqweqwe"/>
        <logger level="INFO" doc:name="Logger" doc:description="asdasdasq" message="Message"/>
    </flow>
    <flow name="noviolationsFlow1">
        <scatter-gather doc:name="Scatter-Gather"/>
    </flow>
    <flow name="noviolationsFlow">
        <poll doc:name="Poll">
            <db:delete config-ref="MySQL_Configuration" doc:name="Database">
                <db:template-query-ref/>
            </db:delete>
        </poll>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
